section {
  &.for-applicants {
    margin-top: 1rem;

    article {
      padding-left: 1rem;

      &.odd {
        border-left: 2px solid $secondary-color;
      }
      
      &.even {
        border-left: 2px solid $primary-color;
      }
    }
  }

  a {
    color: $secondary-color;
    text-decoration: underline;

    &:visited {
      color: $link-visited;
    }
  }
}