footer {
  background-color: #f9b000;
  padding: 4rem 0;
  width: 100%;
  color: #fdefcc;

  a {
    color: #fdefcc;
  }

  .fa-facebook, .fa-instagram, .fa-phone, .fa-location-dot, .fa-at {
    color: #fdefcc;
  }
}