footer {
  background-color: $tertiary-color;
  bottom: 0;
  color: $footer-text;
  padding: 2rem 0;
  position: absolute;
  width: 100%;

  .logo {
    max-width: 75px;
  }

  a {
    color: $footer-text;

    &:visited {
      color: $footer-text;
    }
  }

  .fa-facebook,
  .fa-instagram,
  .fa-phone,
  .fa-location-dot,
  .fa-at {
    color: $footer-text;
  }
}
