footer {
  background-color: $tertiary-color;
  padding: 4rem 0;
  width: 100%;
  color: $footer-text;

  .logo {
    max-width: 75px;
  }

  a {
    color: $footer-text;
  }

  .fa-facebook, .fa-instagram, .fa-phone, .fa-location-dot, .fa-at {
    color: $footer-text;
  }
}