.gray-section {
  background-color: $gray;
}

.icons {
  .fa-chalkboard-user,
  .fa-graduation-cap,
  .fa-school {
    border-radius: 50%;
    color: $white;
    padding: 2.5rem;
  }

  .fa-chalkboard-user {
    background-color: $primary-color;
  }

  .fa-graduation-cap {
    background-color: $secondary-color;
  }
  .fa-school {
    background-color: $tertiary-color;
  }

  a {
    display: flex;
    flex-direction: column;

    &.rotate {
      svg {
        transition: ease-in-out 0.2s;
      }

      &:hover {
        svg {
          transform: scale(1.07) rotate(7deg);
        }
      }
    }

    

    svg {
      margin-bottom: 1rem;
    }
  }
}
