.news {
  h4 {
    color: $tertiary-color;
    font-style: italic;
  }

  article {
    padding-left: 1rem;

    &.odd {
      border-left: 2px solid $secondary-color;
    }

    &.even {
      border-left: 2px solid $primary-color;
    }
  }

  .news-logo {
    max-width: 200px;
  }
}


@include media-breakpoint-down(lg) {
  .news {
    article {
      padding-left: 0;

      &.odd {
        border-left: none;
        border-top: 2px solid $secondary-color;
      }

      &.even {
        border-left: none;
        border-top: 2px solid $primary-color;
      }

    }
  }
}