.our-team {
  h4 {
    color: $tertiary-color;
  }

  a {
    color: $primary-color;
    text-decoration: underline !important;
  }

  article {
    padding-left: 1rem;

    &.odd {
      border-left: 2px solid $secondary-color;
    }

    &.even {
      border-left: 2px solid $primary-color;
    }
  }

  .news-logo {
    border-radius: 50%;
    max-height: 200px;
  }
}

@include media-breakpoint-down(lg) {
  .our-team {
    article {
      padding-left: 0;
      
      &.odd {
        border-left: none;
        border-top: 2px solid $secondary-color;
      }

      &.even {
        border-left: none;
        border-top: 2px solid $primary-color;
      }

    p {
      margin-bottom: 3rem;
    }
    }
  }
}
