.btn {
  border-radius: 4px;
  display: block;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  transition: ease-in-out;
  transition-duration: 0.2s;
  user-select: none;
  -webkit-user-select: none;
  
  &.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
    margin-left: auto;
    
    &:hover {
      background-color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  
  &.btn-back {
    background-color: $white;
    border-color: $primary-color;
    margin: 0 auto;

    .fa-arrow-left {
      color: $black;
      height: 13px;
      vertical-align: middle;
    }
    
    &:hover {
      background-color: $primary-color;
      color: $white;

      .fa-arrow-left {
        color: $white;
      }
    }
  }

  &:hover {
    cursor: pointer;
  }
}
