.btn {
  border-radius: 4px;
  display: block;
  margin-left: auto;
  padding: 0.75rem 1.5rem;
  transition: ease-in-out;
  transition-duration: 0.2s;
  -webkit-user-select: none;

  &.btn-primary {
    background-color: $tertiary-color;
    border-color: $tertiary-color;

    &:hover {
      background-color: #fcc43e;
      border-color: #fcc43eff;
    }
  }
}
