.gray-section {
  background-color: $gray;
}

.icons {
  .fa-chalkboard-user,
  .fa-graduation-cap,
  .fa-school {
    border-radius: 18%;
    color: $white;
    padding: 2.5rem;
    height: 75px;
    vertical-align: middle;
  }

  .fa-chalkboard-user {
    background-color: $primary-color;
  }

  .fa-graduation-cap {
    background-color: $secondary-color;
  }
  .fa-school {
    background-color: $tertiary-color;
  }

  a {
    display: flex;
    flex-direction: column;

    &.rotate {
      svg {
        transition: ease-in-out 0.2s;
      }

      &:hover {
        svg {
          transform: scale(1.07) rotate(7deg);
        }
      }
    }

    svg {
      margin-bottom: 1rem;
    }
  }
}

.fa-bullhorn, .fa-file-pen {
  color: $primary-color;
  height: 100px;
  vertical-align: middle;
}

.fa-calendar {
  color: $secondary-color;
  height: 100px;
  vertical-align: middle;
}

.fa-circle-user {
  height: 150px;
  vertical-align: middle;
}