@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  background-color: white;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  position: relative;
}

a {
  text-decoration: none;
  color: #343434;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-green {
  color: #afd137;
}

.text-blue {
  color: #40a1da;
}

.text-yellow {
  color: #f9cb1a;
}

.bold {
  font-weight: bold;
}

.container, .container-fluid {
  padding: 0;
}

.district {
  img {
    max-height: 200px;
  }
}

#background {
  background-image: url("../assets/claim-index.jpg");
  height: 300px;
}

@include media-breakpoint-down(md) {
  .row {
    margin: 0 .5rem;
  }
}
