@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
  background-color: white;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  position: relative;

  &.disable-scroll {
    overflow-y: hidden;
  }
}

main {
  margin-top: 115px;
  padding-bottom: 20rem;
}

a {
  text-decoration: none;
  color: $link-color;

  &:visited {
    color: $link-visited;
  }
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-green {
  color: $secondary-color;
}

.text-blue {
  color: $primary-color;
}

.text-yellow {
  color: $tertiary-color;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.container,
.container-fluid {
  padding: 0;
}

.district {
  img {
    max-height: 200px;
  }
}

.h-100 {
  height: 100vh;
}

#background {
  background-image: url('../assets/claim-index.jpg');
  height: 300px;
}

@include media-breakpoint-down(md) {
  .row {
    margin: 0 0.5rem;
  }
}
